.starter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}
h1 {
  color: var(--3---Very-Dark-Grey-Blue, #1c202b);
  font-size: 2rem;
  font-weight: 800;
}
h1 span {
  display: inline-block;
  text-align: center;
  width: 3.2rem;
  height: 2.5rem;
  border-radius: 0.6rem;
  background: var(--1---Blue, #0a327b);
  color: white;
  margin-left: 0.9rem;
}
.all-read {
  color: var(--4---Dark-Grey-Blue, #5e6778);
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}
.all-read:hover {
  color: #0a327b;
}
